.DS_Store
.env
.vscode
/public/index.html
/public/static
/test/e2e/reports/
/test/unit/coverage/
config
config.js
config/backend.js
config/backend.js
coverage
deploy_key
dist/
ecosystem.config.js
kubeconfig
node_modules/
npm-debug.log*
pils-api
public
selenium-debug.log
selenium-server.log
test/e2e/reports
test/unit/coverage
