.DS_Store
node_modules/
npm-debug.log*
selenium-debug.log
selenium-server.log
ecosystem.config.js
config/backend.js
config.js
.env
deploy_key
pils-api
kubeconfig
public
test/e2e/reports
test/unit/coverage
kubernetes/secrets.yaml
kubernetes/secrets.yml
dist/
