#DEVMODE=enabled
APPSECRET=KoudPils
#DEFAULT_USER=
#DEFAULT_PASS=
DB_HOST=
DB_USERNAME=
DB_PASSWORD=
DB_NAME=
PORT=3000
# passkeys are bound to these; unset they come from the request
#RP_ID=pils.oscarr.nl
#RP_ORIGIN=https://pils.oscarr.nl
