<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Button</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300" type="text/css">
    <link rel="stylesheet" href="/css/button5.css">
  </head>
  <body>
    <div id="glass">
      <div id="beer"></div>
    </div>
    <div id="poignet"></div>
    <div id="mousse_1"></div>
    <div id="mousse_2"></div>
    <div id="mousse_3"></div>
    <div id="mousse_4"></div>
    <div id="mousse_5"></div>
    <div id="mousse_volante"></div>
    <div id="mousse_interieur"></div>
    <div id="mousse_interieur_2"></div>
    <div id="mousse_interieur_3"></div>
    <div id="mousse_interieur_4"></div>
  </body>
</html>
