<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Button</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel='stylesheet prefetch' href='css/myyzlq.css'>
    <link rel="stylesheet" href="/css/button3.css">
  </head>
  <body>
    <div class="centerer">
      <div class="wrap">
        <a class="btn-0" href="#">Swipe</a>
        <a class="btn-1" href="#">Diagonal Swipe</a>
        <a class="btn-1-2" href="#">Double Swipe</a>
        <a class="btn-2" href="#">Diagonal Close</a>
        <a class="btn-3" href="#"><span>Zoning In</span></a>
        <a class="btn-4" href="#"><span>4 Corners</span></a>
        <a class="btn-5" href="#">Slice</a>
      </div>
      <div class="wrap">
        <a class="btn-6" href="#">Position Aware<span></span></a>
        <a class="btn-7" href="#"><span>Alternate</span></a>
        <a class="btn-8" href="#">Smoosh</a>
        <a class="btn-9" href="#"><span>Vertical Overlap</span></a>
        <a class="btn-10" href="#"><span>Horizontal Overlap</span></a>
        <a class="btn-11" href="#">Collision</a>
      </div>
    </div>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script src="button3.js"></script>
  </body>
</html>
