<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Button</title>
    <link rel="stylesheet" href="/css/button.css" type="text/css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300" type="text/css">
  </head>
  <body>
    <a href="/" data-title="Heb jij ook zo'n dorst?"></a>
    <script src="button.js"></script>
  </body>
</html>
