<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Button</title>
    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <link rel="stylesheet" href="/css/button2.css" type="text/css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300" type="text/css">
  </head>
  <body>
    <a href="#" class="btn-liquid">
  		<span class="inner">Liquid button ?</span>
    </a>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="button2.js"></script>
  </body>
</html>
