<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bier aanbiedingen</title>
    <link rel="stylesheet" href="/css/style.css" type="text/css">
    
  </head>
  <body>
    <div class="container">
      <div class="sidenav">
        <i class="fas fa-beer"></i>
        <a href="/">Home</a>
        <i class="fas fa-beer"></i>
        <a href="/aanbiedingen">Aanbiedingen</a>
        <i class="fas fa-beer"></i>
        <a href="/register">Register</a>
        <i class="fas fa-beer"></i>
        <a href="/import">Import</a>
        <i class="fas fa-beer"></i>
        <a href="/notifications">Notifications</a>
        <i class="fas fa-beer"></i>
        <a href="/logout">Logout</a>
      </div>
    </div>
  </body>
</html>
