<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Bier aanbiedingen</title>
    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300" type="text/css">
    <link rel="stylesheet" href="/css/beer-button.css">
  </head>
    <div class="container">
      <ul>
        <form action="/aanbiedingen" >
          <input type="submit" class="ghost-button-homeform" value="Aanbiedingen" id=AanbiedingenForm>
        </form>
        <form action="/register" >
          <input type="submit" class="ghost-button-homeform" value="Create account" id=RegisterForm>
        </form>
        <form action="/import" >
          <input type="submit" class="ghost-button-homeform" value="Import" id=ImportForm>
        </form>
        <form action="/logout" >
          <input type="submit" class="ghost-button-homeform" value="Log out" id=ImportForm>
        </form>
      </ul>"
    </div>
  </body>
</html>
