<!DOCTYPE html>
<html>
  <head>
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <meta charset="utf-8">
    <title>Bier aanbiedingen</title>
    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <link rel="stylesheet" href="/css/beer-button.css">
  </head>
  <body>
    <div class="container">
      <div class="sidenav">
        <i class="fas fa-beer"></i>
        <a href="/">Home</a>
        <i class="fas fa-beer"></i>
        <a href="/aanbiedingen">Aanbiedingen</a>
        <i class="fas fa-beer"></i>
        <a href="/register">Register</a>
        <i class="fas fa-beer"></i>
        <a href="/import">Import</a>
        <i class="fas fa-beer"></i>
        <a href="/notifications">Notifications</a>
        <i class="fas fa-beer"></i>
        <a href="/logout">Logout</a>
      </div>
      <ul>
        <form action="/aanbiedingen" >
          <input type="submit" class="ghost-button-homeform" value="Aanbiedingen" id=AanbiedingenForm>
        </form>
        <form action="/register" >
          <input type="submit" class="ghost-button-homeform" value="Create account" id=RegisterForm>
        </form>
        <form action="/import" >
          <input type="submit" class="ghost-button-homeform" value="Import" id=ImportForm>
        </form>
        <form action="/notifications" >
          <input type="submit" class="ghost-button-homeform" value="Notifications" id=Notifications>
        </form>
        <form action="/logout" >
          <input type="submit" class="ghost-button-homeform" value="Log out" id=ImportForm>
        </form>
      </ul>
    </div>
  </body>
</html>
