<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Import</title>
    <link rel="stylesheet" href="/css/style.css" type="text/css">
  </head>
  <body>
    <div class="container">
      <div class="sidenav">
          <a href="/">Home</a>
          <a href="/aanbiedingen">Aanbiedingen</a>
          <a href="/register">Register</a>
          <a href="/import">Import</a>
          <a href="/notifications">Notifications</a>
          <a href="/logout">Logout</a>
      </div>
      <fieldset>
        <form action="/import" method="post" onsubmit="submitBtn.disabled = true">
          <input type="submit" class="ghost-button" value="Run import" name = "submitBtn">
        </form>
      </fieldset>
    </div>
  </body>
</html>
