<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Import</title>
    <link rel="stylesheet" href="/css/style.css" type="text/css">
  </head>
  <body>
    <div class="container">
      <fieldset>
        <form action="/import" method="post" onsubmit="submitBtn.disabled = true">
          <input type="submit" class="ghost-button" value="Run import" name = "submitBtn">
        </form>
      </fieldset>
    </div>
  </body>
</html>
