<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Login</title>
    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <link rel="stylesheet" href="/css/failWhale.css" type="text/css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300" type="text/css">
  </head>
  <body>
    <div id="failwhale">
      <div id="air">
        <div class="rope1crop">
          <div class="rope1"></div>
        </div>
        <div class="rope2crop">
          <div class="rope2"></div>
        </div>
        <div class="rope3crop">
          <div class="rope3"></div>
        </div>
        <div class="rope4crop">
          <div class="rope4"></div>
        </div>
        <div class="rope5crop">
          <div class="rope5"></div>
        </div>
        <div class="rope5acrop">
          <div class="rope5a"></div>
        </div>
        <div class="rope6crop">
          <div class="rope6"></div>
        </div>
        <div class="rope6acrop">
          <div class="rope6a"></div>
        </div>
        <div class="rope7crop">
          <div class="rope7"></div>
        </div>
        <div class="rope7acrop">
          <div class="rope7a"></div>
        </div>
        <div class="rope8crop">
          <div class="rope8"></div>
        </div>
        <div class="rope9crop">
          <div class="rope9"></div>
        </div>
        <div class="rope10crop">
          <div class="rope10"></div>
        </div>
        <div class="rope11crop">
          <div class="rope11"></div>
        </div>
        <div class="rope12crop">
          <div class="rope12"></div>
        </div>
        <div class="rope13crop">
          <div class="rope13"></div>
        </div>
        <div class="rope14crop">
          <div class="rope14"></div>
        </div>
        <div class="rope15crop">
          <div class="rope15"></div>
        </div>
        <div class="rope16crop">
          <div class="rope16"></div>
        </div>
        <div class="rope17crop">
          <div class="rope17"></div>
        </div>
        <div class="rope18crop">
          <div class="rope18"></div>
        </div>
        <div class="rope19crop">
          <div class="rope19"></div>
        </div>
        <div class="rope20crop">
          <div class="rope20"></div>
        </div>
        <div class="bird right" style="top: 5px; left: 112px;">
          <div class="body1"></div>
          <div class="body2"></div>
          <div class="body3"></div>
          <div class="body4"></div>
          <div class="body5"></div>
          <div class="wing">
            <div class="wing1"></div>
            <div class="wing2"></div>
            <div class="wing3crop">
              <div class="wing3"></div>
            </div>
            <div class="wing4"></div>
          </div>
          <div class="eye"></div>
        </div>
        <div class="bird right" style="top: 31px; left: 72px;">
          <div class="body1"></div>
          <div class="body2"></div>
          <div class="body3"></div>
          <div class="body4"></div>
          <div class="body5"></div>
          <div class="wing">
            <div class="wing1"></div>
            <div class="wing2"></div>
            <div class="wing3crop">
              <div class="wing3"></div>
            </div>
            <div class="wing4"></div>
          </div>
          <div class="eye"></div>
        </div>
        <div class="bird right" style="top: 66px; left: 176px;">
          <div class="body1"></div>
          <div class="body2"></div>
          <div class="body3"></div>
          <div class="body4"></div>
          <div class="body5"></div>
          <div class="wing">
            <div class="wing1"></div>
            <div class="wing2"></div>
            <div class="wing3crop">
              <div class="wing3"></div>
            </div>
            <div class="wing4"></div>
          </div>
          <div class="eye"></div>
        </div>
        <div class="bird right" style="top: 35px; left: 262px;">
          <div class="body1"></div>
          <div class="body2"></div>
          <div class="body3"></div>
          <div class="body4"></div>
          <div class="body5"></div>
          <div class="wing">
            <div class="wing1"></div>
            <div class="wing2"></div>
            <div class="wing3crop">
              <div class="wing3"></div>
            </div>
            <div class="wing4"></div>
          </div>
          <div class="eye"></div>
        </div>
        <div class="bird left" style="top: 17px; left: 173px;">
          <div class="body1"></div>
          <div class="body2"></div>
          <div class="body3"></div>
          <div class="body4"></div>
          <div class="body5"></div>
          <div class="wing">
            <div class="wing1"></div>
            <div class="wing2"></div>
            <div class="wing3crop">
              <div class="wing3"></div>
            </div>
            <div class="wing4"></div>
          </div>
          <div class="eye"></div>
        </div>
        <div class="bird left" style="top: 47px; left: 230px;">
          <div class="body1"></div>
          <div class="body2"></div>
          <div class="body3"></div>
          <div class="body4"></div>
          <div class="body5"></div>
          <div class="wing">
            <div class="wing1"></div>
            <div class="wing2"></div>
            <div class="wing3crop">
              <div class="wing3"></div>
            </div>
            <div class="wing4"></div>
          </div>
          <div class="eye"></div>
        </div>
        <div class="bird left" style="top: 94px; left: 250px;">
          <div class="body1"></div>
          <div class="body2"></div>
          <div class="body3"></div>
          <div class="body4" style="margin-top: 6px; height: 10px; left: 9px;"></div>
          <div class="body5"></div>
          <div class="wing">
            <div class="wing1"></div>
            <div class="wing2"></div>
            <div class="wing3crop">
              <div class="wing3"></div>
            </div>
            <div class="wing4"></div>
          </div>
          <div class="eye"></div>
        </div>
        <div class="bird left" style="top: 135px; left: 277px;">
          <div class="body1"></div>
          <div class="body2"></div>
          <div class="body3"></div>
          <div class="body4"></div>
          <div class="body5"></div>
          <div class="wing">
            <div class="wing1"></div>
            <div class="wing2"></div>
            <div class="wing3crop">
              <div class="wing3"></div>
            </div>
            <div class="wing4"></div>
          </div>
          <div class="eye"></div>
        </div>
        <div id="whale">
          <div id="whale1"></div>
          <div id="whale2"></div>
          <div id="whale3-crop">
            <div id="whale3"></div>
          </div>
          <div id="whale4"></div>
          <div id="whale5crop">
            <div id="whale5"></div>
          </div>
          <div id="whale6"></div>
          <div id="whale7"></div>
          <div id="whaletail1"></div>
          <div id="whaletail2"></div>
          <div id="whaletail3"></div>
          <div id="whaletail4"></div>
          <div id="whaletail5"></div>
          <div id="whaletail6"></div>
          <div id="whaletail7"></div>
          <div id="whaletail8"></div>
          <div id="eye1"></div>
          <div id="eye2"></div>
        </div>
      </div>
      <div id="wavecontainer">
        <div class="waves fore">
          <div class="waveleft">
            <div class="inner"></div>
          </div>
          <div class="waveright">
            <div class="inner"></div>
          </div>
          <div class="waveleft">
            <div class="inner"></div>
          </div>
          <div class="waveright">
            <div class="inner"></div>
          </div>
          <div class="waveleft">
            <div class="inner"></div>
          </div>
          <div class="waveright">
            <div class="inner"></div>
          </div>
          <div class="waveleft">
            <div class="inner"></div>
          </div>
          <div class="waveright">
            <div class="inner"></div>
          </div>
          <div class="waveleft">
            <div class="inner"></div>
          </div>
          <div class="waveright">
            <div class="inner"></div>
          </div>
          <div class="waveleft">
            <div class="inner"></div>
          </div>
          <div class="waveright">
            <div class="inner"></div>
          </div>
          <div class="waveleft">
            <div class="inner"></div>
          </div>
          <div class="waveright">
            <div class="inner"></div>
          </div>
          <div class="waveleft">
            <div class="inner"></div>
          </div>
          <div class="waveright">
            <div class="inner"></div>
          </div>
          <div class="waveleft">
            <div class="inner"></div>
          </div>
          <div class="waveright">
            <div class="inner"></div>
          </div>
          <div class="waveleft">
            <div class="inner"></div>
          </div>
          <div class="waveright">
            <div class="inner"></div>
          </div>
          <div class="waveleft">
            <div class="inner"></div>
          </div>
          <div class="waveright">
            <div class="inner"></div>
          </div>
          <div class="waveleft">
            <div class="inner"></div>
          </div>
        </div>
        <div class="waves back">
          <div class="waveright">
            <div class="inner"></div>
          </div>
          <div class="waveleft">
            <div class="inner"></div>
          </div>
          <div class="waveright">
            <div class="inner"></div>
          </div>
          <div class="waveleft">
            <div class="inner"></div>
          </div>
          <div class="waveright">
            <div class="inner"></div>
          </div>
          <div class="waveleft">
            <div class="inner"></div>
          </div>
          <div class="waveright">
            <div class="inner"></div>
          </div>
          <div class="waveleft">
            <div class="inner"></div>
          </div>
          <div class="waveright">
            <div class="inner"></div>
          </div>
          <div class="waveleft">
            <div class="inner"></div>
          </div>
          <div class="waveright">
            <div class="inner"></div>
          </div>
          <div class="waveleft">
            <div class="inner"></div>
          </div>
          <div class="waveright">
            <div class="inner"></div>
          </div>
          <div class="waveleft">
            <div class="inner"></div>
          </div>
          <div class="waveright">
            <div class="inner"></div>
          </div>
          <div class="waveleft">
            <div class="inner"></div>
          </div>
          <div class="waveright">
            <div class="inner"></div>
          </div>
          <div class="waveleft">
            <div class="inner"></div>
          </div>
          <div class="waveright">
            <div class="inner"></div>
          </div>
          <div class="waveleft">
            <div class="inner"></div>
          </div>
          <div class="waveright">
            <div class="inner"></div>
          </div>
          <div class="waveleft">
            <div class="inner"></div>
          </div>
        </div>
      </div>
    </div>  </body>
    <div class="container">
      <fieldset>
        <form action="/login" method="post" onsubmit="submitBtn.disabled = true">
          <input name="username" type="text" class="ghost-input" placeholder="Username" minlength="3" required>
          <input name="password" type="text" class="ghost-input" placeholder="Password" minlength="3" required>
          <input type="submit" class="ghost-button" value="Login" name = "submitBtn">
        </form>
      </fieldset>
    </div>
</html>
