/* open-sans-regular - latin https://google-webfonts-helper.herokuapp.com/fonts/open-sans?subsets=latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('/css/fonts/open-sans-v15-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Open Sans Regular'), local('OpenSans-Regular'),
       url('/css/fonts/open-sans-v15-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/css/fonts/open-sans-v15-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('/css/fonts/open-sans-v15-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('/css/fonts/open-sans-v15-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/css/fonts/open-sans-v15-latin-regular.svg#OpenSans') format('svg'); /* Legacy iOS */
}
 html, body {
     width: 100%;
     height: 100%;
     overflow: auto;
     margin: 0 auto;
     font-family: 'Open Sans', sans-serif;
}
 .container {
     margin-top: 30px;
     margin-right: 300px;
     margin-left: 300px;
}
 fieldset {
     display: block;
     -webkit-margin-start: 0px;
     -webkit-margin-end: 0px;
     -webkit-padding-before: 0em;
     -webkit-padding-start: 0em;
     -webkit-padding-end: 0em;
     -webkit-padding-after: 0em;
     border: 0px;
     border-image-source: initial;
     border-image-slice: initial;
     border-image-width: initial;
     border-image-outset: initial;
     border-image-repeat: initial;
     min-width: -webkit-min-content;
     padding: 30px;
}
 .ghost-input, p {
     display: block;
     font-weight:300;
     width: 100%;
     font-size: 25px;
     border:0px;
     outline: none;
     -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
     box-sizing: border-box;
     background-color: #0000000f;
     font-family: Open Sans,Verdana;
     padding: 10px 15px;
     margin: 30px 0px;
     -webkit-transition: all 0.1s ease-in-out;
     -moz-transition: all 0.1s ease-in-out;
     -ms-transition: all 0.1s ease-in-out;
     -o-transition: all 0.1s ease-in-out;
     transition: all 0.1s ease-in-out;
}
 .ghost-dropdown, p {
     display: block;
     font-weight:300;
     font-size: 20px;
     margin-right: 40px;
     border:0px;
     float: left;
     outline: none;
     -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
     box-sizing: border-box;
     background-color: #0000000f;
     font-family: Open Sans,Verdana;
     padding: 10px 15px;
     margin-bottom: 15px;
     -webkit-transition: all 0.1s ease-in-out;
     -moz-transition: all 0.1s ease-in-out;
     -ms-transition: all 0.1s ease-in-out;
     -o-transition: all 0.1s ease-in-out;
     transition: all 0.1s ease-in-out;
}
 .ghost-input:focus {
     border-bottom:1px solid #ddd;
}
 .ghost-button {
     display: block;
     font-weight: 300;
     width: 100%;
     font-size: 25px;
     border:2px solid #a9a3a3;
     outline: none;
     width: 100%;
     -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
     box-sizing: border-box;
     background-color: #0000000f;
     font-family: Open Sans,Verdana;
     padding: 10px 15px;
     margin: 30px 0px;
     -webkit-transition: all 0.1s ease-in-out;
     -moz-transition: all 0.1s ease-in-out;
     -ms-transition: all 0.1s ease-in-out;
     -o-transition: all 0.1s ease-in-out;
     transition: all 0.1s ease-in-out;
}
 .ghost-button:hover {
     background: #fff;
}
 .ghost-input:hover {
     background: #fff;
}
 p {
     color: #E64A19;
}
 .Aanbieding {
     float: left;
     border: 2px solid #a9a3a3;
     margin-right: 10px;
     margin-bottom: 10px;
     height: 170px;
     width: 170px;
}
 h1{
     font-size: 30px;
     color: #fff;
     text-transform: uppercase;
     font-weight: 300;
     text-align: center;
     margin-bottom: 15px;
}
 table{
     width:100%;
     table-layout: fixed;
}
 .tbl-header{
     background-color: rgba(255,255,255,0.3);
}
 .tbl-content{
     height: 230px;
     overflow-x:auto;
     margin-top: 0px;
     border: 1px solid rgba(255,255,255,0.3);
}
 th{
     padding: 20px 15px;
     text-align: left;
     font-weight: 500;
     font-size: 12px;
     color: #fff;
     text-transform: uppercase;
}
 td{
     padding: 15px;
     text-align: left;
     vertical-align:middle;
     font-weight: 300;
     font-size: 12px;
     color: #fff;
     border-bottom: solid 1px rgba(255,255,255,0.1);
}
 body{
     background: linear-gradient(to right, #25c481, #25b7c4);
}

.sidenav {
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    margin-left: 15px;

}

.sidenav a:hover {
    color: #f1f1f1;
}

.main {
    margin-left: 160px; 
    font-size: 28px; 
    padding: 0px 10px;
}
.fa-beer:before {
    content: "\f0fc";
    color: #e8b504;
    position: relative;
    font-size: 20px;
    top: 36px;
    margin-left: 5px;
}


/* Mobile */

@media screen and (max-width: 480px) {
    .sidenav a {
        /*font-size: 40px;*/
    }
}