.DS_Store
.git/
.vscode/
config/
docs/
README.md
.git*
node_modules
*/.DS_Store
test/
.babelrc
.env*
.gitignore
.postcssrc.js
.travis.yml
renovate.json
npm-debug.log*
coverage
build
tmp/
temp/
.github/
src/config/
ormconfig*