apiVersion: v1
stringData:
  APPSECRET:
  DB_HOST:
  DB_NAME:
  DB_PASSWORD:
  DB_USERNAME:
  DEFAULT_PASS:
  DEFAULT_USER:
  HIIPERPASSWORD:
  HIIPERUSER:
  JWTSECRET:
  MONGODB_URI:
kind: Secret
metadata:
  name: drinkn-env
  namespace: oscar
type: Opaque
