.DS_Store

/public/index.html
/public/static

node_modules/
npm-debug.log*
/test/unit/coverage/
/test/e2e/reports/
selenium-debug.log
coverage

config/backend.js
config.js
.env

deploy_key
selenium-server.log
.vscode
ecosystem.config.js
