.DS_Store
.git/
.github/
.vscode/
config/
docs/
node_modules
*/.DS_Store
test/
.babelrc
.env*
.git*
.postcssrc.js
.travis.yml
deploy_key.enc
renovate.json
selenium-server.log
npm-debug.log*
coverage
config.js
ecosystem.config.js
src/config/
ormconfig*